{% extends "base.html" %}
{% block head_title %}Reset Password{% endblock %}
{% block content %}

<div class="row">
    <br/>
	<div class="mx-auto col-md-6">
        <br>
        <h2 class="text-center">Email Sent!</h2>
        <p class="section-description">
            <strong>Please check your email</strong> 
        for further instructions on how to complete your password reset.</p>
        <a class="btn btn-warning text-center" href="{% url 'index' %}"> &#8592; Continue to homepage</a>
    </div>
</div>
<br/>
{% endblock %}