{% extends "base.html" %}
{% block head_title %}Reset Password Successfully{% endblock %}

{% block content %}
<div class="row">
    <br/>
	<div class="mx-auto col-md-6">
        <br>
        <h2 class="text-center">Reset Password Successfully</h2>
        <p class="section-description"><strong>Go back to login</strong> and put your new credentials to access your
            account.</p>
        <a class="btn btn-warning text-center" href="{% url 'index' %}"> &#8592; Continue to homepage</a>
    </div>
</div>
<br/>
{% endblock %}